@import  '../../GlobalFiles/GlobalVars.sass'
.ContainerJobSearch
    .ModalFilters
        position: fixed
        top: 5vh
        left: 5vw
        height: 0vh
        width: 90vw
        overflow: hidden
        transition: .5s ease
        border: 0px solid $white
        background: $white
        overflow-y: auto
        z-index: 99
        &.show
            height: 90vh
            border: 1px solid $gray-500
        .Container
            padding: 15px
            position: relative
            .MF
                &__Close
                    position: absolute
                    top: 0
                    right: 0
                    height: 50px
                    width: 50px
                    display: flex
                    justify-content: center
                    align-items: center
                    svg
                        height: 80%
                        width: 80%
                        color: $purple
                    &:hover
                        svg
                            color: $gray-700
                &__CustomFilters
                    display: flex
                    align-items: center
                    padding: 0 10px
                    margin-bottom: 10px
                    .title
                        color: $purple
                        margin-right: 10px
                        font-weight: bold
                    .item
                        display: flex
                        margin-right: 15px
                        &_text,
                        &_delete
                            border: 1px solid $purple
                            color: $purple
                            margin: 3px 1px
                            transition: .2s ease
                            &:hover
                                cursor: pointer
                                background: $purple
                                color: $white
                                border: 1px solid $white
                                svg
                                    fill: $white
                        &_text
                            padding: 5px 10px
                        &_delete
                            display: flex
                            justify-content: center
                            align-items: center
                            svg
                                margin: 0 5px
                                width: 17px
                                height: 17px
                                fill: $purple
                &__AllFilters
                    display: flex
                    align-items: flex-start
                    @media screen and (max-width: 800px)
                        flex-direction: column
                    .filter
                        border: 1px solid $gray-500
                        border-radius: 10px
                        width: 25%
                        margin: 5px
                        overflow: hidden
                        position: relative
                        @media screen and  (max-width: 800px)
                            width: 100%
                        .filter_title
                            font-weight: bold
                            color: $purple
                            padding: 8px
                            font-size: 17px
                            position: absolute
                            top: 0
                            background: $white
                            height: 30px
                        .Content
                            margin-top: 30px
                            padding: 5px
                            max-height: 300px
                            overflow-x: hidden
                            overflow-y: auto
                            @include scrollbars(10px, $gray-400, $gray-200)
                            .filter_item
                                padding: 5px
                                display: flex
                                align-items: center
                                &_checkbox
                                    padding: 3px
                                &_text
                                    padding: 3px
                                &:hover
                                    cursor: pointer
                &__Footer
                    display: flex
                    justify-content: flex-end
    .Filters
        padding: 5px 15px
        border-bottom: 1px solid $gray-300
        &__Text
            margin-bottom: 10px
            width: 100%
            input
                width: 100%
                padding: 8px 15px
                border-radius: 0px
                border: none
                border-bottom: 1px solid $purple
                font-size: 18px
        &__Summary
            display: flex
            align-items: center
            overflow: hidden
            overflow-x: auto
            position: relative
            .title
                color: $purple
                margin-right: 10px
                font-weight: bold
            .empty,
            .fill
                border-radius: 15px
                font-size: 15px
                padding: 1px 8px
                font-weight: bold
                margin: 10px
                display: flex
                justify-content: center
                align-items: center
                white-space: nowrap
            .empty
                background: $white
                color: $purple
                border: 1px solid $purple
            .fill
                background: $purple
                color: $white
                span
                    margin: 3px 3px 3px 0
                    width: 15px
                    height: 15px
                    background: $white
                    color: $purple
                    border-radius: 10px
                    font-size: 12px
                    display: flex
                    justify-content: center
                    align-items: center
            .abrirfiltros
                position: absolute
                right: 0
                padding: 1px 2px 1px 30px
                background: rgb(0,236,255)
                background: linear-gradient(90deg, rgba(0,236,255,0) 0%, rgba(255,255,255,1) 23%, rgba(255,255,255,1) 100%)
    .JobsSection
        display: flex
        border-left: 1px solid $gray-300
        .Jobs
            padding: 20px 0
            width: 50%
            .Job
                border-bottom: 1px solid $gray-500
                padding: 10px 20px
                &:hover
                    background: $gray-200
                    cursor: pointer
                &__Title
                    color: $gray-800
                    display: flex
                    justify-content: space-between
                    align-items: flex-start
                    h3
                        width: 70%
                    span
                        background-color: $purple
                        border-radius: 5px
                        padding: 3px 10px
                        margin-left: 10px
                        font-size: 14px
                        color: $white
                &__Type
                    color: $gray-700
                    margin-bottom: 10px
                &__Footer
                    display: flex
                    justify-content: space-between
                    align-items: flex-end
                    &__Days
                        font-size: 13px
                    &__Apply
        .JobDetails
            width: 50%
            padding: 20px
            border-left: 1px solid $gray-200
            .Image
                width: 100%
                display: flex
                align-items: flex-end
                margin-bottom: 25px
                // justify-content: center
                img
                    border: 1px solid $gray-300
                    max-width: 50px
                    max-height: 50px
                h5
                    margin-left: 15px
                    font-weight: bold
                    color: $gray-600
                    font-size: 20px
            .Title
                color: $gray-800
                font-size: 24px
                font-weight: bold
            .Salary
                margin-top: 10px
                margin-bottom: 20px
                div
                    display: inline-block
                    padding: 5px 10px
                    font-weight: bold
                    border-radius: 5px
                    background: $purple
                    color: $white
            .Responsibilities
                margin: 15px 0
                &__Title
                    font-size: 18px
                    margin: 5px
                    font-weight: bold
                &__Content
                    margin: 5px 10px
                    font-size: 14px
                    white-space: pre-line
            .Strengths
                margin: 5px 0
                display: inline-block
                &__Title
                    font-size: 18px
                    margin: 5px
                    font-weight: bold
                &__item
                    display: inline-block
                    background: $gray-300
                    border-radius: 5px
                    margin: 5px
                    padding: 5px
            .Team
                margin: 5px 0
                display: inline-block
                &__Title
                    font-size: 18px
                    margin: 5px
                    font-weight: bold
                &__item
                    display: inline-flex
                    background: $gray-300
                    border-radius: 5px
                    margin: 5px
                    padding: 5px
                    align-items: center
                    .left
                        padding: 5px
                        img
                            border-radius: 50%
                            width: 50px
                            height: 50px
                    .right
                        padding: 5px
                        h5
                            color: $gray-800
                            font-weight: bold
                        h6
                            font-weight: bold
                            color: $gray-600
        .NoJobData
            width: 50%
            border-left: 1px solid $gray-300
            text-align: center
            padding-top: 50px
            img
                margin-top: 20px
                max-width: 150px
                max-height: 150px
        .NoJobDataLoading
            height: 200px
            width: 50%
            background-color: $white
            position: relative
            display: flex
            justify-content: center
            padding-top: 50px
            .circle
                width: 5em
                height: 5em
                border-radius: 50%
                text-indent: -9999em
                border-top: 0.5em solid $gray-200
                border-right: 0.5em solid $gray-200
                border-bottom: 0.5em solid $gray-200
                border-left: 0.5em solid $purple
                animation: load8 1.1s infinite linear
            @keyframes load8
                0%
                    transform: rotate(0deg)

                100%
                    transform: rotate(360deg)
